{% extends 'base.html'%}
<!-- block title-->
{% block title %} | 隱私政策{% endblock %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="text-center mb-5">
        <h3 class="display-8 font-weight-bold">隱私政策</h3>
        <hr class="w-25 border-primary" />
        <!-- hr:落橫線-->
      </div>
      <!-- for about only K-->
      <div class="card shadow-sm border-0">
        <div class="card-body p-4 p-md-10">
          <article
            class="text-dark"
            style="line-height: 1.8; text-align: justify"
          >
            <section class="mb-4">
              <p>
                <strong>Only K</strong
                >致力於保護我們客戶的私隱。請花時間細閱本通知，其中說明了我們收集您的什麼資料，我們如何使用它以及您的權利。Only
                K 是 localhost/8000（「Only
                K」、「我們」或「本網站」）的運營商。我們會確保所收集、傳送、儲存及使用的個人資料將遵照香港特別行政區法例第486章《個人資料(私隱)條例》(以下簡稱為「條例」)的規定處理。若提供個人資料予我們，則被視作同意此私隱政策。
              </p>
            </section>
            <!-- 安全性 -->
            <p class="text-dark font-weight-bold mt-5 mb-3">1.安全性</p>
            <p>
              1.1
              我們的目標是讓您的購物體驗更安全、方便和無憂。我們確保數據在離開本網站時被加密。此過程涉及將資料或數據轉換為代碼以防止未經授權的訪問。
            </p>
            <p>
              1.2
              通過SSL安全資料傳輸層，您的個人資料在傳輸過程中得到保護，此加密機制完全加密並保護您的個人數據（名稱、地址、信用卡號碼）不會被任何人通過互聯網竊取。這個方法為所有信用卡和借記卡交易提供充分的安全保障。
            </p>
            <p>
              1.3
              您的個人資料會被保密，除了滿足我們的業務運營需求外，我們不會向第三方提供您的電郵地址。我們有某些第三方服務提供商代表我們履行重要的業務職責，例如：處理信用卡交易、履行訂單和付運郵件。他們可以訪問履行其職責所需的個人資料，但他們不得將其用於其他目的。
            </p>
            <p class="text-dark font-weight-bold mt-5 mb-3">
              2. 數據的收集和使用
            </p>
            <p>
              2.1
              當您訪問本網站時，我們的網絡服務器會暫時記錄用於訪問我們網站的設備的技術細節，例如使用的瀏覽器類型、安裝的操作系統和設備設置。另外，我們會記錄您的IP地址，如果您通過手提電話等設備訪問我們的網站，則會記錄您設備的UDID。此外，我們的網絡服務器收集您的網絡瀏覽器自動傳輸的特定數據。
            </p>
            <p>這些數據包括：</p>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >您的互聯網服務提供商的名稱
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >您訪問過本網站的網址
              </li>

              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >onlyK的子頁面
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >您訪問的日期和時間
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >你的個人資料及聯絡資料，如姓名、性別、出生日期、身分證號碼、電話號碼、社交媒體連結、電
                郵地址、住址、郵寄地址及/或寄發賬單的地址；
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >你的商業資料，如公司的名稱及職銜；
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >你的賬戶資料，如信用卡賬戶號碼或用戶賬號；
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >你與Apply Pay商戶的付款交易詳情；
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >你的家庭收入及個人興趣；及
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >你的電腦或移動裝置IP地址、即時位置資料、瀏覽器設定、瀏覽紀錄及／或其他互聯網記錄的資料；及
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >你的電話簿中包含的電話號碼和電子郵件地址(當你使用我們為你提供的服務的互動功)。當你接受我們的服務我們會通知你。當你提供數據給我們，你確認已經從電話簿的聯繫人取得同意。
              </li>
            </ul>
            <p>
              2.2
              當您購物時，我們會記錄您的帳單和送貨地址以用於交易目的，但是我們不會儲存您的信用卡或其他付款細節。
            </p>
            <p>
              2.3
              當您訂閱我們的電子報時，如果您願意提供，我們會收集您的姓名、聯絡方式和性別。
            </p>
            <p>
              2.4
              當您註冊帳戶時，我們會記錄您向我們提供的資料，例如您的訂單記錄、品牌偏好、產品評論以及添加到您的個人資料中的任何其他詳細信息。
            </p>
            <p>
              2.5
              當您通過我們的查詢表格提交任何內容時，我們會存儲您的聯絡方式，以便跟進和回答您的問題。
            </p>
            <p class="text-dark font-weight-bold mt-5 mb-3">
              3.收集個人資料的用途：
            </p>
            <p>
              3.1
              我們使用您的數據使您能夠訪問本網站，並根據自動傳輸的數據進行匿名使用統計（請參閱第2.1節），這使我們能夠追蹤我們網站的使用情況，並貼合您的需求。此外，我們收集個人資料的原因如下：
            </p>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >識別你的身分及你開設的任何賬戶
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >為你提供服務
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >確定及核實你享用商品和服務的折扣及促銷的資格
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >讓本網站儲存你的個人資料，以免你每次購買產品或更新保險產品時需要重新輸入相關資料
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >處理訂單或預訂並根據您的需求量身訂制我們的服務。
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >管理和回應我們的客戶服務團隊收到的任何疑問或投訴。
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >根據您的帳戶資料、購物記錄和瀏覽活動，打造您的個性化網站並展示您最感興趣的內容。
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >改善和維護本網站，並監控其使用情況。
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >進行市場研究、統計分析及行為分析，例如我們可能會聯繫您以取得關於我們產品的反饋意見。
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >進行顧客數據分析及分析你的購物喜好
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >向您發送營銷資訊並向您展示針對性的廣告，事前我們會先徵取您的同意。
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >出於安全目的，調查欺詐行為，並在必要時保護我們和第三方。
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >就我們的服務或你感興趣的商品或服務向你推薦
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >設計本公司網站及內容，迎合你的特定喜好
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >為你提供客戶服務
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >處理你的投訴及賬戶查詢，對本公司或任何一方之索償及/或訴訟
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >防範及阻止欺詐
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >審計目的
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >直接促銷我們的 服務（詳情見「直接促銷」部份）
              </li>
              <li>
                <i class="fas fa-check-circle text-success-mr-2 pr-2"></i
                >如有需要，我們也可能會使用您的個人資料以執行我們的第三方權利。
              </li>
            </ul>
            <h3>...others T&C...</h3>
            <p class="text-dark font-weight-bold mt-5 mb-3">11.聯絡方法</p>
            <p>
              如果您對個人資料的隱私性和安全性有任何疑問，或者想要更新或刪除您的資料，請聯繫我們。
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
