{% extends 'base.html'%}
<!-- block title-->
{% block title %} | Terms and Condition{% endblock %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="text-center mb-5">
        <h3 class="display-8 font-weight-bold">條款與細則</h3>
        <hr class="w-25 border-primary" />
        <h4 class="display-8 font-weight-bold">使用條款及細則</h4>
        <hr class="w-25 border-primary" />
      </div>
      <div class="card shadow-sm border-0">
        <div class="card-body p-4 o-md-10">
          <article
            class="text-dark"
            style="line-height: 1.8; text-align: justify"
          >
            <section class="mb-4">
              <p>此等條款及細則構成一般條款及細則的組成部分。</p>
            </section>
            <p class="text-dark font-weight-bold mt-5 mb-3">1. 服務</p>
            <h3>...other t&c...</h3>
            <p class="text-dark font-weight-bold mt-5 mb-3">11. 知識產權</p>
            <ul class="list-unstyled">
              <li>
                <i class="text-success-mr-2 pr-2"></i
                >11.1我們的網站上所有內容、用戶內容、設計、文字、圖像及其他材料的知識產權權利，及其選取或安排由我們擁有、控制或獲許可。嚴禁任何未經事前書面批准的授權使用。　
              </li>
              <br />
              <li>
                <i class="text-success-mr-2 pr-2"></i>11.2
                我們的網站中所有商標、產品名稱及公司名稱或標誌為我們的財產或其各自擁有人的財產。我們並無就使用任何該等商標、外觀、產品名稱、公司名稱、標誌或稱號給予批准，而該等使用或會構成侵犯持有人的權利。
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
