<!-- load base-->
{% load humanize %}
<!-- load humanize-->
{% load static %}
<!--Google login -->
{% load socialaccount %}

<div id="login-section">
      <!-- Login -->
      <h3 class="text-center">登入</h3>
      <!-- add new action-->
      <form action="{% url 'users:signin' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3 mx-auto" style="width:90%">
            <input
              name=username
              class="form-control"
              label="電郵或手機號碼"
              placeholder="電郵或手機號碼"
              errormessage=""
              style="border:none;border:transparent; padding:10px;border-radius:5px;"
              value=""
              required
              />
            <hr style="border:none ;
                        border-top:2px solid #ff8e8eff;
                        width:100%;
                        margin:0;
                        "/>
        </div>

          <div
            class="mx-auto"
            style="
                  cursor: pointer;
                  border: 3px solid transparent;
                  width: 90%;
                  "
            >
            <input
              class="form-control"
              label="密碼"
              placeholder="密碼"
              errormessage=""
              name="password"
              type="password"
              value=""
              style="border:transparent; padding:10px;border-radius:5px;"
              required
              />
            <hr style="
                  border:none; 
                  border-top:2px solid #ff8e8eff; 
                  width:100%;
                  margin:0;
                  "/>
          </div>
        <div
          class="text-left pt-2 mb-4 mx-auto ml-3"
          style="
            cursor: pointer;
            border: 1px solid transparent;
            width: 90%;
            padding-left:10px;
          "
          >
          <a href="/users/password/new" style="color: #3494fa">忘記密碼？</a>
        </div>

        <button
          type="submit"
          class="solid-btn"
          style="
            cursor: pointer;
            background-color: #ff8e8eff;
            border: 3px solid transparent;
            color: #fff;
            border-radius: 8px;
            padding: 5px 10px;
            width: 90%;
            max-width: 600px;
          "
        >
          開始購物吧！
        </button>
        <p></p>
        <div class="d-flex align-items-center mb-4 mx-auto" style="width:90%">
          <div style="flex:1;border-bottom:1px solid #dee2e6;"></div>
            <div
              class="px-3 text-muted"
              style="
              cursor: pointer;
              border: 3px solid transparent;
              font-size:0.8rem
              "
          >或使用其他方式</div>
          <div style="flex:1;border-bottom:1px solid #dee2e6;"></div>
        </div>
      </form>
        <!-- login method,Google oauth -->
      <div>
        {% comment %} <button class="btn btn-outline-light border mb-4" style="width:20%;cursor: pointer;" type="button" aria-label="google login" aria-hidden="true" focusable="false"> {% endcomment %}
          <a href="{% provider_login_url 'google' %}" class="btn btn-outline-light border mb-4" style="width:20%; cursor: pointer;">
            <img src = "{% static 'img/google_logo.png' %}" alt="google logo"
                style="height:25px; width:auto"/>
          </a>
        {% comment %} </button> {% endcomment %}
      </div>

      <!-- 未係member & Register-->
      <div>
        <h2 class="title text-left pl-4 pt-3 pb-4">還不是會員？</h2>
        <a        
          {% if 'register' in request.path %} class="nav-item active mr-3" {%else%} class="nav-item active mr-3" {%endif%}
          href="{% url 'users:register' %}">
          <button
            type="button"
            onClick="showRegister()"
            class="outline-btn font-weight-bold"
            style="
              cursor: pointer;
              border: 2px solid #ffb7b7ff;
              background-color:transparent;
              color: #ffb7b7ff;
              padding: 5px 10px;
              border-radius: 8px;
              width: 90%;
              max-width: 600px;
              outline: none;
              "
            >
            註冊會員
          </button>
        </a>
        <p class="pt-4"></p>
        <hr style="border-top:2px solid #878787;width:90%;"/>
      </div>
    </div>
