{% extends 'base.html' %}
<!---->
{% load humanize %}
<!---->
{% load static %}
<!---->
{% block title %} | Forget Password {% endblock %}
<!---->
{% block content %}
<div class="row py-5">
  <div
    class="col-md-6 offset-md-3 text-center mx-auto shadow-sm pb-5"
    style="max-width: 500px; width: 90%; padding: 20px"
  >
    <h3 class="text-center mb-4">Reset Password</h3>
    <p class="text-muted small">請輸入你的註冊電郵，我們將發送重設連結給您。</p>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-4 mx-auto" style="width: 90%">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="你的電子郵件"
          style="border: none; padding: 10px; border-radius: 5px"
          required
        />
        <hr
          style="
            border: none;
            border-top: 2px solid #ff8e8eff;
            width: 100%;
            margin: 0;
          "
        />
      </div>
      <button
        class="solid-btn"
        type="submit"
        style="
          cursor: pointer;
          background-color: #ff8e8eff;
          color: #fff;
          border: none;
          border-radius: 8px;
          padding: 10px;
          width: 90%;
        "
      >
        發送重設郵件
      </button>
    </form>
    <div class="mt-4">
      <a href="{% url 'users:password_reset' %}" class="" style="color: #3494fa"
        >返回登入</a
      >
    </div>
  </div>
</div>
{% endblock %}
