{% extends "base.html" %}
<!---->
{% load humanize %}
<!---->
{% load static %}
<!--Google login -->
{% load socialaccount %}
{% comment %} {% block branding %} {% endcomment %}
<!-- extra css-->
{% block extra_css%}
<style>
/* remove hover blue color */
  .form-control:focus {
    box-shadow: none;
    background-color: transparent;
  }
  /* hover change color */
  .outline-btn:hover {
    background-color: #ffb7b7ff !important;
    color: white !important;            
    border-color: #ffb7b7ff !important;
  }
  .outline-btn:active {
    transform: scale(0.95);
  }

/* 隱藏原生 checkbox */
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* 建立自定義框框 */
.checkmark {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 3px;
  position: relative;
  border: 1px solid #ddd;
}

/* 滑鼠經過變色 */
.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

/* 選中時的背景顏色 */
.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #ff8e8eff;
  border-color: #ff8e8eff;
}

/* create Tick  (white勾勾) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show Tick  */
.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* present of Tick */
.checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
</style>
{% endblock %}
<!-- block content -->
{% block content %}

<div class="row my-5">
  <div
    class="col-md-6 offset-md-3 text-center mx-auto shadow-sm pb-5"
    style="
      border: 3px solid transparent;
      height: auto;
      max-width: 500px;
      width: 90%;
      padding: 20px;
    "
    >
    {% include 'users/_login_form.html' %}

    <div  id="register-section" style="display: none">
      <h2 class="mb-4 text-left ml-4">註冊會員</h2>
      <!-- 係form 加js function-->
      <form id="registerForm" action="{% url 'users:register' %}" method="POST" onSubmit="return validateRegister()">
        {% csrf_token %}
        <div class="mb-3 mx-auto" style="width: 90%">
          <input name="username" class="form-control" placeholder="使用者名稱"
            style="border: none; padding: 10px; background: transparent" required />
          <hr style="border: none; border-top: 2px solid #ffb7b7ff; width: 100%; margin: 0;" />
        </div>
        
        <div class="mb-3 mx-auto" style="width: 90%">
          <input name="email" type="email" class="form-control" placeholder="電郵"
            style="border: none; padding: 10px; background: transparent" required />
          <hr style="border: none; border-top: 2px solid #ffb7b7ff; width: 100%; margin: 0;" />
        </div>

        <div class="mb-4 mx-auto" style="width: 90%">
          <input name="password" type="password" class="form-control" placeholder="設置密碼"
            style="border: none; padding: 10px; background: transparent" required />
          <hr style="border: none; border-top: 2px solid #ffb7b7ff; width: 100%; margin: 0;" />
        </div>

        <div class="mb-4 mx-auto" style="width: 90%">
          <input name="password2" type="password" class="form-control" placeholder="確定密碼"
            style="border: none; padding: 10px; background: transparent" required />
          <hr style="border: none; border-top: 2px solid #ffb7b7ff; width: 100%; margin: 0;" />
        </div>

        <div class="mb-4 mx-auto" style="width: 90%">
          <input name="phone" type="tel" class="form-control" placeholder="電話號碼"
            style="border: none; padding: 10px; background: transparent" required />
          <hr style="border: none; border-top: 2px solid #ffb7b7ff; width: 100%; margin: 0;" />
        </div>
        <!-- add 2 div-->
        <div class="mb-4 mx-auto text-left" style="width: 90%">
          <label class="custom-checkbox-container d-flex align-items-start" style="cursor: pointer">
            <div class="checkbox-wrapper mr-2">
              <input class="" type="checkbox" name="receive_updates" id="updates">
              <span class="checkmark" ></span>
              <span class="small text-muted" style="line-height: 1.4;">
                我願意接收GeTheMall的最新優惠消息及服務推廣相關資訊
              </span>
            </div>
          </label>
        </div>

        <div class="mb-3 mx-auto text-left" style="width: 90%">
          <label class="custom-checkbox-container d-flex align-items-start" style="cursor: pointer">
            <div class="checkbox-wrapper mr-2">
              <input type="checkbox" name="agree_terms" id="terms">
              <span class="checkmark"></span> 
            </div>
            <span class="small text-muted" style="line-height: 1.4;">
              我同意網站
              <a target="_blank" class="" href="{% url 'pages:tandc' %}"
              >服務條款</a>
              及
              <a target="_blank" class="" href="{% url 'pages:privacy_policy' %}">
                隱私權政策
              </a>
              ，且我已滿 18 歲
            </span>
          </label> 
        </div>
        <!-- add 2 div-->
          <button type="submit" class="solid-btn"
            style="cursor: pointer; background-color: #ff8e8eff; color: #fff; border: none; border-radius: 8px; padding: 10px; width: 90%;">
            提交註冊
          </button>
      </form>
      
      <!-- Google Register -->
      <div class="d-flex align-items-center mb-4 mx-auto" style="width:90%">
        <div style="flex:1;border-bottom:1px solid #dee2e6;"></div>
          <div
            class="px-3 text-muted"
            style="
            cursor: pointer;
            border: 3px solid transparent;
            font-size:0.8rem
            "
          >或使用其他方式</div>
          <div style="flex:1;border-bottom:1px solid #dee2e6;"></div>
        </div>
        <!-- login method-->
        {% comment %} <button class="btn btn-outline-light border mb-4" style="width:20%;cursor: pointer;" type="button" aria-label="google login" aria-hidden="true" focusable="false">
          <img src = {% static 'img/google_logo.png' %} alt="google logo"
          style="height:25px; width:auto"/>
        </button> {% endcomment %}
                <!-- login method,Google oauth -->
        <div>
          <a href="{% provider_login_url 'google' %}" class="btn btn-outline-light border mb-4" style="width:20%; cursor: pointer;">
            <img src = {% static 'img/google_logo.png' %} alt="google logo"
                style="height:25px; width:auto"/>
          </a>
        </div>
      <!-- end add -->

      <div class="mx-auto" style="width: 90%;">
        <h2 class="title text-left pl-2 pb-3" style="font-weight: bold;">已經有帳號？</h2>
        <button type="button" onClick="showLogin()" class="outline-btn font-weight-bold"
          style="cursor: pointer; border: 2px solid #ffb7b7ff; color: #ffb7b7ff; padding: 10px; border-radius: 8px; width: 100%; background: transparent;">
          返回登入
        </button>
        <hr style="border:none; border-top:2px solid #878787; width:100%; margin-top: 30px;" />
      </div>
    </div>
  </div>
</div>

<script>
function showRegister(){
  document.getElementById('login-section').style.display ='none';
  document.getElementById('register-section').style.display = 'block';
}

function showLogin(){
  document.getElementById('register-section').style.display = 'none';
  document.getElementById('login-section').style.display ='block';
}
window.onload = function(){
  if(window.location.pathname.includes('register')){
    showRegister();
  }
}

function validateRegister(){
  const termsCheckBox = document.getElementById('terms');
  if(!termsCheckBox.checked){
    alert("請勾選「同意網站服務條款及隱私權政策」後再提交註冊！");
    return false;
  }
  return true;
};
</script>
{% endblock %}
