#contactModal .modal-content {
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

#contactModal .form-content {
  background-color: #f8f9fa;
  border: 1px solid #eee;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
}

#contactModal .btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}

#contactModal .title {
  font-weight: bold;
  margin-bottom: 10px;
}
