/* for computer */
@media (min-width: 992px) {
  .search-hover-container:hover {
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .search-hover-container:hover .search-text {
    opacity: 1;
  }
}
/* for mobile */
@media (max-width: 991.98px) {
  .search-hover-container {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .search-text {
    opacity: 1 !important;
  }
  .navbar-nav .nav-item .form-inline {
    width: 100%;
  }
}

.search-hover-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.4s ease, box-shadow 0.4s ease;
  width: 45px;
  height: 38px;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #ddd;
}

.search-hover-container:hover {
  width: 180px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-text {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #666;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.search-hover-container:hover .search-text {
  opacity: 1;
}

.hidden-search-input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
}

.search-hover-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  border: none;
  background: none;
}
