{% extends "base.html"%}
<!---->
{% block content %}
<div
  class="container d-flex flex-column justify-content-center align-items-center"
  style="min-height: 70vh"
>
  <h1 class="display-1 font-weight-bold" style="color: #ff8e8eff">404</h1>
  <h2 class="mb-4">哎呀！找不到網頁</h2>
  <p class="text-muted mb-5">
    您要尋找的頁面可能已被移除、更改名稱，或者暫時不可用。
  </p>

  <a
    href="{% url 'pages:index' %}"
    class="btn btn-lg"
    style="
      background-color: #ff8e8eff;
      color: white;
      border-radius: 50px;
      padding: 10px 30px;
    "
  >
    返回首頁
  </a>
</div>
{% endblock %}
